.brand-container{
    background-color: black;
    border:1px solid #707070;
}
.brand-content{
    width: 1200px;
    margin: 0 auto;
    padding-top: 56px;
    padding-bottom: 160px;
}
.brand-text{
    text-align: center;
    color: #ffffff;
    h2{
        margin-bottom: 12px;
        font-weight: bold;
    }
    p{
        line-height: 1.5;
        font-size: 20px;
    }
    .brand-en{
        font-size: 24px;
        line-height: 1.5;
    }
    .brand-chinese{
        margin-top: 32px;
        margin-bottom: 68px;
        font-style: normal;
        span{
            font-style: italic;
        }
    }
}
.brand-picture{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    .brand-pic-two{
        display: flex;
        justify-content: space-between;
        margin-top: 40px;
    }
}